{% extends 'base.html' %}
{% block title %}Listado de Productos{% endblock %}
{% block content %}
    <h1>Listado de Productos</h1>

        <div>
            <h2>Categorías</h2>
            <ul>
                <li>
                    <a href="{% url 'apps.productos:listar_productos' %}">Todas las categorías</a>
                </li>
                {% for e in categorias %}
              
                <li>{{ e.nombre }}  </li>
                
                {% endfor %}
            </ul>
        </div>
        {% for e in productos %}
        <hr>
        <h2>{{ e.nombre }}</h2>
        <p><strong>Precio:</strong> ${{ e.precio }}</p>
        <a href="{% url 'apps.productos:ver_producto' e.pk %}">Ver detalles</a>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
{% endblock %}